.main {
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
}

tr:nth-child(odd) {
    background-color: #eee;
    }

th {
    background-color: #555;
    color: #fff;
    }

th,
td {
    text-align: left;
    padding: 0.5em 1em;
}

.intro__img--schedule {
    border-radius: 50%;
}

.intro {
    text-align: center;
}

#subtitle {
    color: var(--clr-dark);
    font-size: var(--fs-h3);
}

@media (max-width: 375px) {
    .portfolio-item-individual {
        padding: 0 0em 2em;
    }
}