.main {
  display: flex;
  justify-content: center;
}

/* temp */

/* .coming-soon h2 {
  font-size: 5rem;
  font-weight: bold; 
  padding: 3rem;
}
.coming-soon {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.day,.hour,.minute,.second {
  font-size: 1rem;
} */
/* //temp */

table {
    max-width: 100%;
}

tr:nth-child(odd) {
    background-color: #eee;
  }

th {
    background-color: #555;
    color: #fff;
  }

th,
td {
text-align: left;
padding: 0.5em 1em;
}